.pinButton{}
.pinButton_inner{
  margin: 10px auto;
  height: 40px;
  text-align: center;
  border: 1px solid $color-metal;
  background: $color-brushed;
  border-radius: $border-radius;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  .pinButton-delete &{
    border-bottom: 10px solid $color-delete;
  }
  .pinButton-accept &{
    border-bottom: 10px solid $color-success;
  }
  &:active, .pinButton-active &{
    background: darken($color-brushed, 10);
  }
}