.screen{
  margin: 20px auto;
  border: 1px solid $color-metal;
  border-radius: $border-radius;
  padding: 20px;
  height: 400px;
  position: relative;
  @include valign-children-center;
  text-align: center;
}
.screen_processing{
  position: absolute;
  background: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include valign-children-center;
}
.screen_processing_icon{
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.screen_processing_message{
  display: block;
  text-align: center;
}