.screenButton{

}
.screenButton_label{
  text-align: center;
  line-height: 40px;
}
.screenButton_button{
  cursor: pointer;
  margin: 20px auto;
  width: 200px;
  height: 40px;
  border: 1px solid $color-metal;
  background: $color-brushed;
  border-radius: $border-radius;
  &:active{
    background: darken($color-brushed, 10);
  }
}