@import 'utils/variables';
@import 'utils/mixins';
@import 'bootstrap/bootstrap.scss';
@import 'views/screen-button';
@import 'views/screen';
@import 'views/button-cluster';
@import 'views/pin-cluster';
@import 'views/pin-button';
@import 'views/pin-entry-display';
@import 'views/amount-entry-display';

body{
  font-family: monospace;
}
a{
  cursor: pointer;
}